<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/editSong.js"></script>
    <script src="/js/nav.js"></script>
    <link href="css/navi.css" rel="stylesheet" type="text/css">
    <link href="css/uploadS.css?version=1" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angermann</title>
</head>
<body>
<nav th:replace="fragments/nav :: nav">

</nav>
<div class="wrapper">
    <img src="img/lagetSmall.png" height="200" width="200" alt="Laget logo">
    <section id="upperForm" class="form2">
        <form class="innerWrapper" method="post" th:action="@{/updateSong}" id="sendForm" enctype="multipart/form-data">
            <h3>Redigera sång</h3>
            <div class="inputDiv">
                <div id="inputText" class="inputData">
                    <textarea type="text" id="inputSong" name="theSong" rows="10"></textarea>
                </div>
            </div>
            <div class="inputDiv">
                <select name="songFor" id="songFor">
                    <option th:selected="${songContent.songFor==categories.category}" th:each="categories: ${songFor}" th:value="${categories.category}" th:text="${categories.category}"></option>
                </select>
            </div>
            <div class="inputDiv">
                <input type="text" id="name" name="name" th:value="${songContent.name}">
            </div>
            <div class="inputDiv">
                <input type="text" id="harmony" name="harmony" th:value="${songContent.harmony}">
            </div>
            <input type="hidden" name="author" value="James">
            <div class="inputDivBtn">
                <input type="submit" class="addBtn" value="Ladda upp">
            </div>
        </form>
    </section>
</div>
<script type="text/javascript" th:inline="javascript">
    let songs = [[${songContent.song}]];
</script>
</body>
</html>