<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/uploadSong.js"></script>
    <script src="/js/nav.js"></script>
    <link href="css/navi.css" rel="stylesheet" type="text/css">
    <link href="css/uploadS.css?version=1" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angermann</title>
</head>
<body>
<nav th:replace="fragments/nav :: nav">

</nav>
<div class="wrapper">
    <img src="img/lagetSmall.png" height="200" width="200" alt="Laget logo">
    <p id="infolo" th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="showAddUser()">Lägg till användare</button>
    <section id="addUser" class="form1">
        <form class="innerWrapper" th:action="@{/addUser}">
            <div class="inputDiv">
                <input type="text" placeholder="Användarnamn" id="userName" name="userName">
            </div>
            <div class="inputDiv">
                <input type="password" placeholder="Lösenord" id="password" name="password">
            </div>
            <div class="inputDiv">
                <input type="submit" value="Lägg till" class="removeBtn">
            </div>
        </form>
    </section>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="showAlterRole()">Hantera rättigheter</button>
    <section id="alterAuthority" class="form1">
        <form class="innerWrapper" th:action="@{/alterRole}">
            <div class="inputDiv">
                <select name="alterRole" id="alterRole">
                    <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.username}"></option>
                </select>
            </div>
            <div class="inputDiv">
                <select name="role" id="role">
                    <option value="ADMIN">Admin</option>
                    <option value="USER">User</option>
                </select>
            </div>
            <div class="inputDiv">
                <input type="submit" value="Ändra" class="removeBtn">
            </div>
        </form>
    </section>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="showRemoveUser()">Ta bort användare</button>
    <section id="removeUser" class="form1">
        <form class="innerWrapper" th:action="@{/removeUser}">
            <div class="inputDiv">
                <select name="roleId" id="roleId">
                    <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.username}"></option>
                </select>
            </div>
            <div class="inputDiv">
                <input type="submit" value="Ta bort" class="removeBtn">
            </div>
        </form>
    </section>
</div>
</body>
</html>